<h1>Profile Page</h1>
<p>
	<%= @user.email %>
	<br>
	<%= @user.name %>
	<br>
	<% if @user.attachment_id!=nil%>
		<img id="my-profile-pic" src="<%= @user.attachment.picture.url %>">
	<%end%>
</p>

<%= form_for @user, url: profile_update_path(@user.id) do |f| %>
	<%= form_for @user.attachment do |a|%>
		<div class="field">
			<%= a.label :picture, "Profile Picture" %><br />
	     	<%= f.file_field :picture%>
	   	</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name , autofocus: true %>
 	</div>
 
 
 	<div class="field">
 		<%= f.label :email %><br />
     	<%= f.email_field :email, autofocus: true %>
   	</div>
 
   	<%= f.submit %>
<% end %>
