<div id="post_box_<%="#{post.id}"%>" class="post_box">
  <p id="post_head"> <%= post.user.name %> posted a new update - <%= post.title %></p>
  <p id="post_body"> <%= post.content %></p>
  <p id="post_links"><%= link_to "Show", post %>
  <% if user_signed_in? %>
    <% if !Like.already_liked(current_user.id,post.id) %>
      |<%= link_to "Like", like_path(post.id), remote: true, id: "Like_button_"+"#{post.id}", method: :post %>
    <% else %>
      |<%= link_to "Unlike", unlike_path(Like.find_by(user_id:current_user.id,post_id:post.id).id), id: "Unlike_button_"+"#{post.id}", remote: true, method: :delete %>
    <% end %>
  <% end %>(<span id=<%="likes_count_"+"#{post.id}"%>><%= post.likes.length %></span> Likes)
  <% if user_signed_in? and current_user==post.user %>
    |<%= link_to "Edit", edit_post_path(post) %>
    |<%= link_to "Destroy", post, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
  <% end %>
    (<%= post.comments.length %> Comments)
  </p>
  
  <div id="comment_box_<%= post.id%>" class="comment_box">
    <h2 style="margin: 2vh 2vw;">Comments</h2>
    <% post.comments.each do |c|%>
      <div id="comment_<%= c.id%>" class="comments"><h4>Comment By- <%=c.user.name%></h4>
        <p><%= c.body %></p>
        <%= link_to "Delete", post_comment_path(post.id,c.id), remote: true, method: :delete %>
        <hr>
      </div>
    <% end %>
    <% @post=post %>
    <% @comment= Comment.new %>
    <div id="new_comment_box_<%="#{post.id}"%>" class="new_comment_box">
      <h3 style="margin:0px;">New Comment</h4>
      <%= render partial: "comments/form" %>  
    </div>
  </div>
</div>