<p id="notice"><%= notice %></p>

<h1>Posts</h1>
    <% @posts.reverse.each do |post| %>
        <div id="post_box" >
        <p id="post_head"> <%= post.user.name %> posted a new update - <%= post.title %></p>
        <p id="post_body"> <%= post.content %></p>
        <p id="post_links"><%= link_to 'Show', post %>
        <% if user_signed_in? %>
          <% if !Like.already_liked(current_user.id,post.id) %>
            |<%= link_to 'Like', like_path(post.id), method: :post %>
          <% else %>
            |<%= link_to 'Unlike', unlike_path(Like.find_by(user_id:current_user.id,post_id:post.id).id), method: :delete %>
          <% end %>
        <% end %>(<%= post.likes.length %> Likes)
        <% if user_signed_in? and current_user==post.user %>
          |<%= link_to 'Edit', edit_post_path(post) %>
          |<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
          (<%= post.comments.length %> Comments)
        </p>
        </div>
      <div id="comment_box">
          <h2 style="margin: 2vh 2vw;">Comments</h2>
          <% post.comments.each do |c|%>
          <div id="comments"><h4>Comment By- <%=c.user.name%></h4>
            <p><%= c.body %></p>
            <%= link_to 'Delete', post_comment_path(post.id,c.id), method: :delete %>
            <hr>
          </div>
          <% end %>
          <% @post=post %>
          <% @comment= Comment.new %>
          <div id="new_comment">
          <h3 style="margin:0px;">New Comment</h4>
          <%= render partial: 'comments/form' %>  
          </div>
      </div>
      <br>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
