<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br>
<br>
<div id="comment_box">
          <h2 style="margin: 2vh 2vw;">Comments</h2>
          <% @post.comments.each do |c|%>
          <div id="comments"><h4>Comment By- <%= c.name %></h4>
            <p><%= c.body %></p>
            <%= link_to 'Delete', post_comment_path(@post.id,c.id), method: :delete %>
            <hr>
          </div>
          <% end %>
          <div id="new_comment">
          <h3 style="margin:0px;">New Comment</h4>
          <%= render partial: 'comments/form' %>  
          </div>
      </div>