<!DOCTYPE html>
<html>
  <head>
    <title>UglyFB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: rgba(255,255,127,0.5);padding: 0px;margin: 0px;">
  <nav><div style="display: inline-block;">UglyFB</div>
  <div id="navlinks" >
  <%= link_to "Home", root_path %> &nbsp|
<% if user_signed_in? %>
  <%= link_to "Find Friends", allUsers_path%> |
  <%= link_to "My Friends", myFriends_path%> |
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %> |
  Hello <%= current_user.name%> !
  <% else %>
  <%= link_to "Sign in", new_user_session_path%> |&nbsp
  <%= link_to "Sign up", new_user_registration_path %>
  <% end %></div> </nav>
    <main style="margin: 5vh 5vw;">
    <%= yield %>
    </main>
  </body>
</html>
